[Unit]
Description=Weechat Tmux session
Requires=network-online.target

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/tmux new -s weechat -d /usr/bin/weechat
ExecStop=/usr/bin/tmux kill-session -t weechat

[Install]
WantedBy=multi-user.target

